* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body,
html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif
}

/* .limiter {
    width: 100%;
    height: 100vh
} */

input {
    outline: 0;
    border: none
}

.login-bt {
    background-color: #000;
    color: #fff;
    height: 3rem;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    width: 100%;
    position: relative;
    transition: all .3s ease-in-out;
    top: 0
}

.login-bt:hover {
    transition: all .5s ease-in-out;
    letter-spacing: 2px
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #e0e0e0
}

.wrap-login100 {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;

    border-radius: 26px;
    background: #e0e0e0;
    box-shadow: 39px 39px 73px #b5b5b5,
        -39px -39px 73px #ffffff;
}

.wrap-signup100 {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1)
}

.login100-form {
    width: 100%
}

.login100-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #000000;
    line-height: 1.2;
    text-align: center
}

.login100-form-title i {
    font-size: 60px
}

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px
}

.input100 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: 0 0;
    padding: 0 5px
}

.wrap-signup100 {
    width: 490px
}

@media screen and (min-width:780px) {
    .wrap-login100 {
        width: 390px
    }
}

#username-error {
    text-align: center;
    color: red;
    margin-top: 10px
}

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10rem
}

::-webkit-scrollbar-thumb {
    background: #393838
}

::-webkit-scrollbar-thumb:hover {
    background: #000
}